:root {
  --color-red: #ff4545;
  --color-blue: #4397ea;
  --color-white: #ffffff;


  --text-color: #15223e;

  --card-blue: #7bc6ef;

  --bg-color: #f6faff;

  --gradient-red: linear-gradient(180deg, rgba(254,68,68,1) 0%, rgba(206,3,3,1) 95%);
  --gradient-blue: linear-gradient(50deg, rgba(67,151,234,1) 0%, rgba(123,198,239,1) 100%);
  --gradient-border: linear-gradient(50deg, rgba(123,198,239,1) 0%, rgba(67,151,234,1) 100%);

  --font-family: 'Avenir Next Cyr';
  --font-heavy: 900;
  --font-demi: bold;
  --font-medium: 500;
  --font-regular: normal;
  --font-light: 300;

  /* Adaptive font size */
  --font-size-48px: calc(20px + 28 * (100vw / 1920)); /* clamp(20px, 10 * (1vw + 1vh) / 2, 48px) */
  --font-size-45px: calc(20px + 25 * (100vw / 1920)); /* clamp(20px, 10 * (1vw + 1vh) / 2, 48px) */
  --font-size-40px: calc(20px + 20 * (100vw / 1920)); /* clamp(20px, 10 * (1vw + 1vh) / 2, 48px) */
  --font-size-36px: calc(20px + 16 * (100vw / 1920)); /* clamp(20px, 10 * (1vw + 1vh) / 2, 48px) */
  --font-size-30px: calc(18px + 12 * (100vw / 1920)); /* clamp(18px, 10 * (1vw + 1vh) / 2, 30px) */
  --font-size-24px: calc(16px + 8 * (100vw / 1920)); /* clamp(16px, 10 * (1vw + 1vh) / 2, 24px) */
  --font-size-20px: calc(16px + 4 * (100vw / 1920)); /* clamp(16px, 10 * (1vw + 1vh) / 2, 20px) */
  --font-size-18px: calc(14px + 4 * (100vw / 1920)); /* clamp(14px, 10 * (1vw + 1vh) / 2, 18px) */
  --font-size-16px: calc(14px + 2 * (100vw / 1920)); /* clamp(14px, 10 * (1vw + 1vh) / 2, 16px) */

  /* cosmetology */
  --color-main-cosmetology: #d2998f;
  --color-red-cosmetology: #be6465;
  --card-color-cosmetology: #e2d2c6;
  --bg-color-cosmetology: #e9cfcc;
  --gradient-btn-cosmetology: linear-gradient(0deg, rgba(112,45,44,1) 25%, rgba(189,99,100,1) 100%);
  --gradient-card-cosmetology: linear-gradient(40deg, rgba(233,207,204,1) 0%, rgba(243,230,220,1) 100%);
  --text-color-cosmetology: #5e5454;
  --cosmet-color-red: #6c2a29;
}

* {
  margin: 0;
  padding: 0;
}
*::-webkit-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}
*:-moz-placeholder {
  color: var(--text-color);
  opacity: 1;
}
*::-moz-placeholder {
  color: var(--text-color);
  opacity: 1;
}
*:-ms-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: var(--font-regular);
  font-size: var(--font-size-16px);
  display: none;
}
.body-cosmetology {
  color: var(--text-color-cosmetology);
}
.body-cosmetology *::-webkit-input-placeholder {
  color: var(--text-color-cosmetology);
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
}
body input:required:valid,
body textarea:required:valid {
}

header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

header .logo {
  max-width: 140px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
}

.main-content {
  max-width: calc(100% - 100px);
  width: 100%;
}
.box-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.navigation-side {
  position: fixed;
  right: 0;
  width: 100px;
  height: calc(100% - 110px);
  background: var(--color-blue);
  padding: 45px 0 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
}
.navigation-side_color {
  background: var(--color-main-cosmetology);
}

.navigation-side ul {
  display: grid;
  gap: 33px;
}

.navigation-side img {
  width: 27px;
  transition: all .5s;
}

.navigation-side img:hover {
  transform: translateY(-5px);
}

.title {
  font-size: var(--font-size-48px);
  font-weight: var(--font-demi);
}
.subtitle {
  font-size:var(--font-size-24px);
  font-weight: var(--font-demi);
}
.section-title-sub-margin .title {
  margin-bottom: 15px;
}
.section-title-sub-margin .subtitle {
  margin-bottom: 35px;
}
.img-absolute {
  position: absolute;
}

footer {
  position: relative;
  z-index: 4;
  background: var(--text-color);
  color: var(--color-white);
  padding-top: 52px;
}
.footer-top,
.footer-bottom {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-top {
  justify-content: space-between;
  min-height: calc(230px - 52px);
  padding-bottom: 20px;
  width: 100%;
}
.footer-top-item {
  font-size: 14px;
}
.footer-top-item__logo a {
  display: flex;
  margin-bottom: 18px;
}
.footer-top-item__logo p {
  max-width: 182px;
  font-size: 13px;
}
.footer-top-item p {
  margin-bottom: 20px;
}
.pages-links {
  display: grid;
  gap: 26px;
}
.pages-links li {
  width: max-content;
}
.pages-links a {
  text-transform: uppercase;
  color: var(--card-blue);
  font-weight: var(--font-demi);
  font-size: var(--font-size-16px);
}
.item-link {
  display: grid;
  gap: 26px;
}
.item-link a {
  color: var(--color-white);
}
.pages-links li a,
.item-link li a,
.phone-linsk a,
.footer-insta,
.footer-bottom a {
  transition: all .3s;
}
.pages-links li:hover a,
.item-link li:hover a,
.phone-linsk a:hover,
.footer-insta:hover,
.footer-bottom a:hover {
  opacity: .5;
}
.phone-linsk {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}
.phone-linsk a {
  color: var(--card-blue);
  font-size: 18px;
  font-weight: var(--font-demi);
}
.phone-linsk a i {
  font-size: 20px;
  font-weight: var(--font-regular);
}
.footer-insta {
  display: flex;
  align-items: center;
  gap: 13px;
  color: var(--color-white);
}
.footer-insta i {
  color: var(--card-blue);
  font-size: 16px;
}

.footer-bottom {
  border-top: 1px solid #4a4b4d;
  padding: 24px 0;
}
.footer-bottom a,
.footer-bottom p {
  color: var(--color-white);
  font-size: 14px;
}
.footer-bottom__wrap {
  display: flex;
  width: 100%;
  gap: 85px;
  flex-wrap: wrap;
}
.footer-bottom__wrap a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-bottom__wrap a img {
  height: 12px;
}
.footer-bottom .box-container {
  width: 100%;
}


/* ========================== BTNS ========================== */
.btns-wrap {
  display: flex;
  gap: 15px;
  align-items: center;
}
.btn-1 {
  display: flex;
  padding: 18px 28px;
  font-size: var(--font-size-16px);
  border-radius: 50px;
  border: 1px solid transparent;
  font-weight: var(--font-demi);
  transition: all .5s;
}
.btn-blue {
  border-color: var(--color-blue);
  color: var(--color-blue);
  text-transform: uppercase;
}

.btn-blue:hover {
  color: var(--color-white);
  background: var(--color-blue);
}
.btn-cosmet {
  border-color: var(--color-red-cosmetology);
  color: var(--color-red-cosmetology);
}
.btn-cosmet:hover {
  color: var(--color-white);
  background: var(--color-red-cosmetology);
}
.btn-cosmet-2 {
  border-color: var(--color-main-cosmetology);
  color: var(--color-main-cosmetology);
}
.btn-cosmet-2:hover {
  color: var(--color-white);
  background: var(--color-main-cosmetology);
}
.btn-red-cosmet {
  background: var(--gradient-btn-cosmetology);
  color: var(--color-white);
  font-size: var(--font-size-16px);
  box-shadow: 0 5px 5px 2px rgba(112,45,44,.4);
  cursor: pointer;
  transition: all .3s;
  border: none;
  margin-left: -30px;
}
.btn-red-cosmet:hover {
  box-shadow: 0 0px 5px 2px rgba(112,45,44,.4);
}

.btn-red {
  color: var(--color-white);
  background: var(--gradient-red);
  font-size: var(--font-size-16px);
  box-shadow: 0 5px 5px 2px rgba(255, 69, 69, .4);
  cursor: pointer;
  transition: all .3s;
}
.btn-red_service {
  background: var(--cosmet-color-red);
  color: var(--color-white);
}

.call-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
.call-btn a:not(.call-btn__icon) {
  color: var(--text-color);
  font-size: var(--font-size-18px);
  font-weight: var(--font-demi);
}
.call-btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 5px 5px 2px rgba(255, 69, 69, .3);
  transition: all .3s;
}
.btn-red:hover,
.call-btn__icon:hover {
  box-shadow: 0 0px 5px 2px rgba(255, 69, 69, .3);
}
.btn-link {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-size: 14px;
  color: var(--color-blue);
  font-weight: var(--font-demi);
}
.btn-link_red {
  color: #be6465;
  width: fit-content;
  height: fit-content;
  position: relative;
  font-size: 14px;
  font-weight: var(--font-demi);
}
.btn-link::after,
.btn-link_red::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-blue);
  bottom: 1px;
  left: 0;
  /* transition: all .3s; */
}
.btn-link_red::after  {
  background: #be6465;
}
.btn-link:hover::after,
.btn-link_red:hover::after  {
  width: 7px;
  height: 3px;
  transform: rotate(-45deg);
  bottom: 25%;
  left: initial;
  right: -10px;
}
.btn-link:hover::before,
.btn-link_red:hover::before {
  position: absolute;
  background: var(--color-blue);
  content: "";
  width: 7px;
  height: 3px;
  transform: rotate(45deg);
  bottom: 50%;
  left: initial;
  right: -10px;
} 
.btn-link_red:hover::before {
  background: #be6465;

}


/* ========================== ========================== */
.burger-menu {
  width: 60px;
  height: 60px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: end;
}

.burger-menu span {
  position: relative;
  width: 50px;
  height: 3px;
  background: var(--color-white);
  display: flex;
  justify-content: end;
  transition: all .3s;
}

.burger-menu span::before {
  top: -8px;
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background: var(--color-white);
  transition: all .3s;
}

.burger-menu span::after {
  bottom: -8px;
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background: var(--color-white);
  transition: all .3s;
}

.burger-menu:hover span::after {
 transform: rotate(5deg);
}
.burger-menu:hover span::before {
  transform: rotate(-5deg);
}

.burger-menu.active span::after{
  transform: rotate(50deg); 
  width: 50px;
  bottom: 0;
}
.burger-menu.active span::before {
  transform: rotate(-50deg);
  top: 0;
}
.burger-menu.active span {
  width: 0%;
}

.menu {
  position: fixed;
  top: 0;
  right: 10px;
  height: 100%;
  width: 500px;
  background: var(--color-blue);
  z-index: 99;
  transform: translateX(110%);
  transition: all 1s;

  display: flex;
  align-items: center;
}
.menu_color {
  background: var(--color-main-cosmetology);
}
.menu.active {
  transform: translateX(0%);
}

.wave {
  position: absolute;
  width: 100px;
  height: 100%;
  overflow: hidden;
  left: -99px;
}

.wave_img {
  position: relative;
  background: url(../img/svg/Vector.svg) repeat-y;
  background-size: 100px;
  width: 100%;
  height: 4320px;
  animation: waves 15s infinite linear;
}
.body-cosmetology .wave_img {
  background: url(../img/svg/wave-2.svg) repeat-y;
  background-size: 100px;

}


@keyframes waves {
  0% { margin-top: 0px;}
  100% {margin-top: -1440px;}
}

.menu-nav {
  padding: 50px;
  color: var(--color-white);
  width: 100%;
}
.menu-nav::-webkit-scrollbar {
  width: 5px;
}

.menu-nav::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.menu-nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-white)
}

.menu-nav a {
  color: var(--color-white);
  font-weight: var(--font-medium);
  font-size: var(--font-size-20px);
}
.menu-nav ul {
  margin-bottom: 30px;
}

.menu-nav li {
  position: relative;
  width: fit-content;
  margin-bottom: 20px;
} 

.menu-nav li::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: var(--color-white);
  bottom: -3px;
  transition: all .4s;
} 

.menu-nav li:hover::before {
  width: 100%;
}

.map-nav {
  max-width: 320px;
  width: 100%;
  height: max-content;
  border: 1px solid var(--color-blue);
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  justify-content: center;

  margin: 0 auto;

  color: var(--text-color);
}

.map-nav p {
  font-size: var(--font-size-48px);
  margin-bottom: 30px;
}
.map-nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.map-nav li a {
  position: relative;
  width: fit-content;
  color: var(--text-color);
  font-size: var(--font-size-24px);
}
.map-nav li a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 7px;
  background: var(--color-blue);
  bottom: 3px;
  z-index: -1;
  transition: all .3s;
}
.map-nav li a:hover::before {
  width: 100%;
  border-radius: 20px 0 20px 0;
}
.map-nav_in-work {
  color:goldenrod;
}
.map-nav_done {
  color: darkgreen;
}
.map-nav_done-new {
  color:dodgerblue;
}


/* ==================== FIRST-SECTION ==================== */
.first-section {
  padding-bottom: 64px;
}

.first-section__grid-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.first-section__grid-item {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background: var(--card-blue);
  width: calc(100% - 60px);
  height: 136px;
  padding: 25px 30px;
  color: var(--color-white);
}
.first-section__grid-item img {
  position: absolute;
  bottom: 0;
  right: -30px;
  height: 100%;
  transition: all .5s;
}

.first-section__grid-item:first-child {
  grid-column: span 2;
  grid-row: span 3;
  width: calc(100% - 120px);
  height: calc(100% - 90px);
  padding: 45px 60px;
  background: url(../img/section-1/family.jpg) center top / cover;
}

.first-section_img-size {
  height: 135px !important;
}
.first-section_img-size-2 {
  height: 140px !important;
  bottom: 20px !important;
  right: 30px !important;
}

.first-section__grid-item:hover img {
  transform: translateX(-30px);
}

.first-section__title,
.first-section__subtitle {
  font-weight: var(--font-demi);
  color: var(--text-color);
}
.first-section__title {
  font-size: var(--font-size-48px);
  text-transform: uppercase;
  margin-bottom: 32px;
}
.first-section__subtitle {
  font-size: var(--font-size-30px);
  margin-bottom: 50px;
}

.first-section__text-box {
  font-size: var(--font-size-18px);
  font-weight: var(--font-demi);
  display: grid;
  gap: 15px;
  position: relative;
  z-index: 1;
  text-shadow: 0 0px 3px var(--card-blue);
}
.first-section__text-box strong {
  font-weight: var(--font-demi);
  text-transform: uppercase;
  font-size: var(--font-size-24px);
}

.first-section__discount {
  display: flex;
  align-items: baseline;
  gap: 7px;
}
.first-section__discount span {
  font-size: 36px;
  font-weight: var(--font-medium);
}

/* ==================== GRADIENT-ICON ==================== */
.gradient-icon {
  position: relative;
  background: var(--gradient-blue);
}
.gradient-icon::before,
.gradient-icon::after {
  position: absolute;
  content: "";
}
.gradient-icon img {
  position: relative;
  z-index: 1;
}

.gradient-icon__tooth {
  width: 33px;
  left: 3px;
  transform: translateX(0px) !important;
}
.gradient-icon_circle {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background: var(--gradient-border);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.gradient-icon_circle.gradient-icon::before {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: var(--color-white);
  border-radius: 50%;
}

.gradient-icon_circle.gradient-icon::after {
  width: 70px;
  height: 70px;
  background: var(--gradient-blue);
  border-radius: 50%;
  box-shadow: 0 8px 5px 1px rgba(67,151,234,.3);
}
.gradient-icon_border {
  min-width: 101px;
  height: 101px;
  border-radius: 20px;
  background: var(--gradient-border);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.gradient-icon_border.gradient-icon::before {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: var(--color-white);
  border-radius: 20px;
}

.gradient-icon_border.gradient-icon::after {
  width: 81px;
  height: 81px;
  background: var(--gradient-blue);
  border-radius: 15px;
  box-shadow: 0 8px 5px 1px rgba(67,151,234,.3);
}
.gradient-icon_border img {
  width: 40px;
  height: auto;
  transition: all .5s;
}

.gradient-icon__wrrap {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.gradient-icon_info {
  position: absolute;
  height: 100%;

  border-radius: 6px;

  background: rgba(242, 242, 242, 0.9);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 60px;
  padding-right: 40px;
  margin-left: 50px;
}
.gradient-icon_info span {
  color: var(--color-red);
}

/* ==================== FORM ==================== */

.item-form textarea,
.item-form input {
  font-size: 14px;
  line-height: 21px;
  width: calc(100% - 40px);
  height: 60px;
  padding: 0 20px;
  background-color: #ffffff;
  /* box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.22); */
  font-family: var(--font-family);
  border: none;
  font-weight: var(--font-regular);
  transition: all 0.3s;
  border-radius: 6px;
  color: var(--text-color);
}
.item-form textarea {
  height: 112px;
  resize: none;
  margin-top: 27px;
  padding-top: 19px;
}
.checkbox {
  font-size: 10.6px;
  line-height: 1.2;
  color: var(--text-color);
  margin-top: 10px;
}
.checkbox label input {
  position: absolute;
  z-index: -1;
  height: 1px !important;
  width: 1px !important;
  opacity: 0 !important;
  margin: 12px 2px 0 7px !important;
}
.checkbox label span {
  position: relative;
  padding: 3px 0 0 23px;
  display: block;
  cursor: pointer;
}
.checkbox label span:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #999999;
  transition: 0.2s;
  background: var(--color-white);
}
.checkbox label span:after {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 15px;
  height: 15px;
  content: "\f00c";
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  background-image: none;
  color: var(--color-red);
  font-size: 7px;
  opacity: 0;
  transition: 0.2s;
}
.checkbox label input:checked + span:after {
  opacity: 1;
}
.checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-page__wrap {
  display: flex;
  align-items: center;
}
.form-page__wrap .btn-red {
  margin-left: -20px;
}
.input-custom .item-form input {
  font-size: 14px;
  line-height: 21px;
  width: calc(100% - 40px);
  height: 60px;
  padding: 0 20px;
  background-color: var(--bg-color);
  /* box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.22); */
  font-family: var(--font-family);
  border: 1px solid #d9dadc;
  font-weight: var(--font-regular);
  transition: all 0.3s;
  border-radius: 6px;
  color: var(--text-color);
}

.form-page__wrap_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 18px;
  row-gap: 20px;
}

/* ==================== WHAT-TREAT ==================== */
.what-treat {
  background: url(../img/bg-1.png) no-repeat center top / cover;
}
.what-treat__wrap {
  padding: 50px 0;
}
.what-treat__wrap .subtitle {
  margin-bottom: 35px;
}
.what-treat__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 37px;
}
.what-treat__item {
  width: calc(100% - 20px);
  height: calc(270px - 20px);

  border-radius: 15px;
  background: var(--gradient-blue);
  padding: 10px;
}
.what-treat__contetn {
  position: relative;
  background: var(--gradient-border);
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 10px;
  overflow: hidden;
}
.what-treat__contetn::before {
  position: absolute;
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: var(--gradient-blue);
  border-radius: 10px;
}
.what-treat__contetn::after {
  position: absolute;
  right: 8px;
  top: 10px;
  content: "";
  background-image: url(../img/blob.png);
  max-width: 295px;
  width: 100%;
  height: 218px;
}
.what-treat__contetn .item-contetn__title,
.what-treat__contetn .item-contetn__desc,
.what-treat__contetn .item-contetn__img {
  position: relative;
  z-index: 2;
}
.what-treat__contetn .item-contetn__img {
  max-width: 142px;
  width: 100%;
  height: 142px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 13px;
  right: 13px;
}
.item-contetn__text-wrap {
  padding: 50px 30px;
}
.what-treat__contetn .item-contetn__title {
  color: var(--color-white);
  font-size: var(--font-size-24px);
  font-weight: var(--font-demi);
  text-transform: uppercase;
  max-width: 260px;
  margin-bottom: 33px;
}
.what-treat__contetn .item-contetn__desc {
  color: var(--color-white);
  font-size: var(--font-size-16px);
  font-weight: var(--font-medium);
  max-width: 300px;
}

/* ==================== FREE-CHECKUP ==================== */
.free-checkup {
  background: url(../img/bg-3.png) no-repeat center top / cover;
  padding: 124px 0 75px;
}
.free-checkup .title {
  max-width: 970px;
  margin-bottom: 46px;
}
.free-checkup .title span {
  text-transform: uppercase;
  color: var(--card-blue);
}
.free-checkup .subtitle {
  max-width: 566px;
  font-weight: var(--font-demi);
  margin-bottom: 49px;
}
.free-checkup__info {
  display: flex;
  gap: 20px;
  max-width: calc(531px - 34px);
  width: auto;
  height: calc(125px - 56px);

  background: var(--card-blue);
  color: var(--color-white);
  border-radius: 10px;

  padding: 28px 17px;
  margin-bottom: 45px;
}
.free-checkup__info img {
  width: auto;
  height: 36px;
}


/* ==================== SLICK-SLIDER ==================== */
.slick-list {
  overflow: hidden;
}
.slick-slide {
  /* margin: 0 15px; */
}
.slick-track {
  display: flex;
}
.slider,
.sertif-slider {
  min-width: 0;
  position: relative;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  margin: -15px 0 0 0;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 5px 5px 1px rgba(123,198,239,.4);
}
.slick-arrow.slick-prev {
  left: 0;
  background: #fff url("../img/svg/chevron-left-solid.svg") no-repeat center / cover;
  background-size: 7px 12px;
}
.slick-arrow.slick-next {
  right: 0;
  background: #fff url("../img/svg/chevron-right-solid.svg") no-repeat center / cover;
  background-size: 7px 12px;
}

.arrow-s .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  z-index: 10;
  font-size: 0;
  border: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  margin: -15px 0 0 0;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 5px 5px 1px rgba(123,198,239,.4);
}
.arrow-s_cosmet .slick-arrow {
  box-shadow: 0 5px 5px 1px rgba(210, 153, 143, .3);
}
.arrow-s .slick-arrow.slick-prev {
  left: 0;
  background: #fff url("../img/svg/chevron-left-solid.svg") no-repeat center / cover;
  background-size: 4px 7px;
}
.arrow-s .slick-arrow.slick-next {
  right: 0;
  background: #fff url("../img/svg/chevron-right-solid.svg") no-repeat center / cover;
  background-size: 4px 7px;
}

.arrow-s_cosmet .slick-arrow.slick-prev {
  left: 0;
  background: #fff url("../img/svg/chevron-left-solid-cosmet.svg") no-repeat center / cover;
  background-size: 4px 7px;
}
.arrow-s_cosmet .slick-arrow.slick-next {
  right: 0;
  background: #fff url("../img/svg/chevron-right-solid-cosmet.svg") no-repeat center / cover;
  background-size: 4px 7px;
}

.arrow-verticle .slick-arrow {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%) rotate(90deg);
  z-index: 10;
  font-size: 0;
  border: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  margin: 0px 0 0 0;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0px 5px 1px rgba(123,198,239,.4);
}
.arrow-verticle .slick-arrow.slick-prev {
  top: 0;
  left: initial;
  background: #fff url("../img/svg/chevron-left-solid.svg") no-repeat center / cover;
  background-size: 4px 7px;
}
.arrow-verticle .slick-arrow.slick-next {
  top: 94%;
  right: initial;
  background: #fff url("../img/svg/chevron-right-solid.svg") no-repeat center / cover;
  background-size: 4px 7px;
}
.arrow-verticle_cosmet .slick-arrow {
  box-shadow: 0 0px 5px 1px rgba(210, 153, 143, .3);

}
.arrow-verticle_cosmet .slick-arrow.slick-prev {
  top: 0;
  left: initial;
  background: #fff url("../img/svg/chevron-left-solid-cosmet.svg") no-repeat center / cover;
  background-size: 4px 7px;
}
.arrow-verticle_cosmet .slick-arrow.slick-next {
  top: 94%;
  right: initial;
  background: #fff url("../img/svg/chevron-right-solid-cosmet.svg") no-repeat center / cover;
  background-size: 4px 7px;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
 .slick-dots li {
  margin: 0px 10px;
}
.slick-dots button {
  font-size: 0;
  width: 9px;
  height: 9px;
  background: var(--color-blue);
  border-radius: 50%;
  border: none;
}
 .slick-dots .slick-active button {
  background: var(--card-blue);
}

.cosmet .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  margin: -15px 0 0 0;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 5px 5px 1px rgba(210, 153, 143, .3);
}
.cosmet .slick-arrow.slick-prev {
  left: 0;
  background: #fff url("../img/svg/chevron-left-solid-cosmet.svg") no-repeat center / cover;
  background-size: 7px 12px;
}
.cosmet .slick-arrow.slick-next {
  right: 0;
  background: #fff url("../img/svg/chevron-right-solid-cosmet.svg") no-repeat center / cover;
  background-size: 7px 12px;
}

.cosmet .slick-dots button {
  font-size: 0;
  width: 9px;
  height: 9px;
  background: var(--color-main-cosmetology);
  border-radius: 50%;
  border: none;
}
.cosmet .slick-dots .slick-active button {
  background: var(--color-white);
}

/* ==================== CARDS ==================== */
.card {
  background: var(--color-white);
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(123,198,239,.4);
}
.card-slider {
  max-width: calc(520px - 32px);
  width: auto;
  height: calc(350px - 34px);
  padding: 16px 17px;

  display: flex;
  margin: 0 auto;
}

/* ==================== TOP-SERVICE ==================== */
.top-services {
  background: url(../img/bg-1.png) no-repeat center top / cover;
  padding: 60px 0 75px;
}
.top-services .slider {
  margin-top: 30px;
}
.top-services .slider .slick-list {
  padding: 20px 0;
}
.card-slider .item-content {
  position: relative;
  padding: 27px 0px 27px 21px ;
}
.card-slider .item-content .title {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: var(--font-size-24px);
  margin-bottom: 19px;
  display: flex;
}
.card-slider .item-content .desc {
  font-size: var(--font-size-16px);
  margin-bottom: 10px;
}
.top-services .card-slider img {
  max-width: 212px;
  height: auto;
}

.item-content__bottom {
  position: absolute;
  bottom: 0;
}
.hr_colorize {
  border: 1px solid var(--color-blue);
  margin-bottom: 33px;
}
.card-slider .item-content .price {
  font-size: var(--font-size-24px);
  color: var(--color-blue);
}
.card-slider .item-content .btns-wrap {
  margin-top: 36px;
}

/* ==================== STAY-WITH-US ==================== */
.stay-with-us {
  padding: 50px 0;
}
.stay-with-us .title span {
  color: var(--card-blue);
}
.stay-with-us__wrap {
  display: flex;
  margin-top: 49px;
}
.stay-with-us__left {
  display: grid;
  gap: 33px;
}
.stay-with-us__left .left-item {
  width: calc(420px - 64px);
  height: calc(170px - 70px);
  padding: 35px 32px;
  background: var(--color-blue);
  border-radius: 10px;
  color: var(--color-white);
}
.stay-with-us__left .left-item .left-item__title {
  font-weight: var(--font-heavy);
  font-size: var(--font-size-45px);
  line-height: 45px;
  margin-bottom: 10px;
}
.stay-with-us__left .left-item .left-item__desc {
  font-weight: var(--font-demi);
  font-size: var(--font-size-20px);
}
.stay-with-us__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 33px; */
  align-items: center;
  justify-items: end;
  max-width: 100%;
  width: 100%;

}
.right-item {
  display: flex;
  gap: 25px;
  align-items: center;
  max-width: 445px;
}
.right-item:hover img {
  transform: scale(1.2);
}
.right-item p {
  font-size: var(--font-size-20px);
}
.right-item p span { 
  border-bottom: 1px solid currentColor;
}

/* ==================== OUR-EXPERTS ==================== */
.our-experts {
  background: url(../img/bg-1.png) no-repeat center top / cover;
  padding: 40px 0;
}
.our-experts__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  column-gap: calc(15px + 45 * (100vw / 1920));
  margin-top: 40px;
}
.grid__item {
  display: flex;
  width: calc(100% - 20px);
  height: calc(180px - 20px);
  padding: 10px;
  transition: all .3s;
  cursor: pointer;
}
.grid__item .img-box {
  max-width: 183px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.grid__item .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}
.grid__item:hover img:not(.sertif-slide__item img) {
  transform: scale(1.1);
}
.grid__item:first-child {
  grid-row: span 3;
  height: calc(570px - 20px);
}
.grid__item:first-child .img-box {
  max-width: 408px;
  height: 100%;
}
.expert-info {
  padding: 25px 0 25px 40px;
}
.name-expert {
  font-size: var(--font-size-24px);
  font-weight: var(--font-demi);
  color: var(--color-blue);
  margin-bottom: 25px;
}
.specialty {
  font-size: var(--font-size-18px);
  font-weight: var(--font-medium);
}
.grid__item blockquote {
  display: none;
}
.grid__item:first-child blockquote {
  display: block;
  position: relative;
  font-size: var(--font-size-18px);
  font-style: italic;
  max-width: 290px;
  margin-top: 80px;
}
.grid__item blockquote::before,
.grid__item blockquote::after {
  position: absolute;
  content: '"';
  font-size: 60px;
  color: var(--card-blue);
  font-weight: var(--font-demi);
  height: 20px;
}
.grid__item blockquote::before {
  top: -50px;
  left: -5px;
}
.grid__item blockquote::after {
  bottom: -20px;
  right: 0;
}
.sertif-slider {
  max-width: 330px;
  margin-top: 80px;
}
.sertif-slide__item {
  min-width: 116px;
  max-width: 116px;
  height: 167px;
  border: 1px solid #255fd6;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto;
}
.sertif-slide__item img {
  max-width: 100%;
}

/* ==================== OUR-WORKS ==================== */
.our-works {
  background-color: var(--bg-color);
  padding: 40px 0;
}
.our-works .subtitle {
  max-width: 790px;
}
.our-works__content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.gallery {
  display: flex;
  column-gap: 20px;
}
.gallery__scroll-big {
  max-width: 589px;
}
.scroll-big__item,
.scroll-small__item {
  padding: 10px;
} 
.scroll-big__item img,
.scroll-small__item img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.scroll-big__item {
  max-width: calc(589px - 20px);
  height: calc(458px - 20px);
}
.gallery__scroll-small {
  position: relative;
  display: block;
  /* display: block; */
  max-width: 362px;
  height: 458px;
  overflow-y: hidden;
}
.gallery__scroll-small .slick-list {
  height: 458px !important;
}
.gallery__scroll-small .slick-track {
  display: grid;
  overflow-y: hidden;
}
.scroll-small__item {
  width: calc(362px - 20px);
  /* width: 100%; */
  height: calc(220px - 20px);
  margin: 7.5px 0;
}
.our-works__info {
  max-width: 531px;
  width: 100%;
}
.our-works__service-name {
  max-width: calc(531px - 20px);
  width: auto;
  padding: 10px;
  min-height: calc(99px - 20px) ;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: var(--color-white);
  box-shadow: 0 0px 10px 1px rgba(123,198,239,.4);
  margin-bottom: 40px;

}
.our-works__service-name p {
  position: relative;
  text-transform: uppercase;
  font-weight: var(--font-demi);
  font-size: var(--font-size-24px);
  margin-left: 25px;
}
.our-works__service-name p::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--color-red);
}
.our-works__desc {
  margin-bottom: 80px;
}
.our-works .btn-red {
  max-width: calc(295px - 36px);
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
/* ==================== REVIWES ==================== */
.reviews {
  position: relative;
  padding: 40px 0;
}
.reviews .img-absolute {
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 787px;
  height: 100%;
  object-fit: cover;
}
.reviews .subtitle {
  max-width: 795px;
  margin-bottom: 45px;
}
.reviews__box {
  position: relative;
  max-width: 974px ;
  width: auto;
  height: 690px;
}
.reviews__box-wrap {
  position: absolute;
  margin: 45px 97px;
  overflow-y: scroll;
  height: calc(690px - 90px);
}
.reviews__box-wrap::-webkit-scrollbar {
  width: 5px;
}

.reviews__box-wrap::-webkit-scrollbar-track {
  /* -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset; */
  background-color: transparent;
  border-radius: 10px;
}

.reviews__box-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-blue);
}
.reviews__item {
  margin-bottom: 50px;
}

/* ==================== OUR-INSTA ==================== */
.our-insta {
  padding: 40px 0;
}
.our-insta__wrap {
  display: flex;
  gap: 20px;
}
.our-insta__info {
}
.our-insta__info .title {
  max-width: 541px;
}
.our-insta__info .subtitle {
  max-width: 363px;

}
.our-insta__link {
  display: flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
  color: var(--text-color);
  font-size: var(--font-size-30px);
  font-weight: var(--font-medium);
}
.our-insta__link img {
  width: 65px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 5px 1px rgba(123,198,239,.4);
  transition: all .5s;
}
.our-insta__link:hover img {
  transform: rotate(10deg);
}
.our-insta__link span {
  background: linear-gradient(90deg, var(--text-color) 0%,  var(--text-color)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.our-insta__link:hover span {
  background: linear-gradient(90deg, rgba(249,121,74,1) 0%, rgba(243,42,63,1) 20%, rgba(168,45,175,1) 80%, rgba(100,62,206,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.our-insta__posts {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;

  max-width: 1040px;
  width: auto;

  gap: 20px;
}
.our-insta__posts img {
  max-width: 333px;
  width: auto;
  height: 333px;
  object-fit: cover;
}

/* ==================== MAKE-APPOINTMENT ==================== */
.make-appointment {
  position: relative;
  background: url(../img/bg-2.png) no-repeat center top / cover;
  height: calc(625px - 128px);
  padding: 64px 0;
}
.make-appointment .img-absolute {
  z-index: 1;
  top: -80px;
  width: auto;
  max-width: 100%;
}
.make-appointment__box {
  position: relative;
  z-index: 2;
  max-width: 835px;
  padding: 43px 60px;
  background: var(--color-white);
  border-radius: 15px;
  float: right;
}
.make-appointment__box .title {
  margin-bottom: 36px;
}
.form-page__wrap_grid .item-form {
  position: relative;
  grid-column: span 2;
}
.form-page__wrap_grid .item-form.item-form__date {
  grid-column: 3;
}
.form-page__wrap_grid .item-form.item-form__time{
  grid-column:  4;
}
.make-appointment__box .checkbox-right,
.make-appointment__box .btn-red {
  grid-column: span 2;
}
.make-appointment__box .btn-red {
  max-width: 200px;
  display: flex;
  justify-content: center;
  grid-column: 4;
  margin-left: 0;
}
.input-choice {
  position: relative;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  height: 62px;
  padding: 0 20px;
  background-color: var(--bg-color);
  /* box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.22); */
  font-family: var(--font-family);
  border: 1px solid #d9dadc;
  font-weight: var(--font-regular);
  transition: all 0.3s;
  border-radius: 6px;
  color: var(--text-color);
}
.make-appointment__box .arrow-down {
  position: absolute;
  display: flex;
  z-index: 2;
  color: var(--card-blue);
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#scroller {
  position: fixed;
  z-index: 10;
  color: var(--card-blue);
  background: var(--color-white);
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  border-radius: 50%;
  bottom: 30px;
  right: 120px;
  box-shadow: 0 0px 5px 1px rgba(67,151,234,.3);
  cursor: pointer;
}
#scroller::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 0px;
  background: var(--card-blue);
  transition: all .3s;
  border-radius: 1px;
}
#scroller:hover::before {
  height: 15px;
}
#scroller i {
  transition: all .3s;
} 
#scroller:hover i {
  transform: translateY(-5px);
}
.body-cosmetology #scroller {
  box-shadow: 0 0px 5px 1px rgba(94, 84, 84, .3);
  color: var(--color-white);
  background: var(--color-main-cosmetology);
}
.body-cosmetology #scroller::before {
  background: var(--color-white);
}


/* #################### COSMETOLOGY #################### */
.body-cosmetology .first-section__grid-item {
  background: var(--card-color-cosmetology);
  color: var(--text-color-cosmetology);
}
.body-cosmetology .first-section__grid-item:first-child {
  background: url(../img/section-1/cosmet-1.png) no-repeat center top / cover;
}
.body-cosmetology .first-section__grid-item:first-child img {
  margin-right: 4px;
}
.body-cosmetology .first-section__title,
.body-cosmetology .first-section__subtitle {
  color: var(--text-color-cosmetology);
}
.body-cosmetology .first-section__title {
  font-size: var(--font-size-40px);
}
.body-cosmetology .first-section__title span {
  font-size: var(--font-size-36px);
}
.body-cosmetology .first-section__text-box {
  text-shadow: none;
}
.body-cosmetology .first-section__discount {
  display: grid;
  gap: 0;
}
.info-icon__item {
  display: flex;
  gap: 15px;
}
.info-icon__border {
  min-width: 66px;
  height: 66px;
  border-radius: 10px;
  background: #e2d2c6;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.info-icon__border.gradient-icon::before {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
}

.info-icon__border.gradient-icon::after {
  width: 50px;
  height: 50px;
  background: var(--color-main-cosmetology);
  border-radius: 8px;
  box-shadow:none;
}
.info-icon__border img {
  width: 40px;
  height: auto;
  transition: all .5s;
}
.info-icon__wrrap {
  display: grid;
  grid-template-columns: repeat(2, 310px);
  gap: 30px;
  margin: 60px 0 70px 0;
}
.pre-form-info {
  max-width: 480px;
  margin-bottom: 20px;
}
/* ==================== footer ==================== */
.body-cosmetology footer {
  background: var(--text-color-cosmetology);
}
.body-cosmetology .pages-links a,
.body-cosmetology .phone-linsk a,
.body-cosmetology .footer-insta i {
  color: var(--color-main-cosmetology);
}
.body-cosmetology .footer-bottom {
  border-top: 1px solid #7d6e5c;
  padding: 24px 0;
}
/* ==================== COSMET-OUR-SERVICE ==================== */
.cosmet-our-service {
  background: url(../img/bg-4.png) no-repeat center top / cover;
  padding: 40px 0;
}
.cosmet-our-service .subtitle {
  max-width: 830px;
}
.cosmet-our-service__wrap {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}
.cosmet-our-service__item {
  max-width: calc(100% - 20px);
  width: auto;
  height: calc(534px - 20px);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 10px 5px rgba(210, 153, 142, .3);
  background: var(--gradient-card-cosmetology);
}
.service__item-info {
  position: relative;
  border-radius: 15px;
  border: 1px solid #e7cbc3;
  height: calc(100% - 64px);
  overflow: hidden;
  padding: 32px 26px;
}
.service__item-info::before {
  position: absolute;
  z-index: 3;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  background: linear-gradient(180deg, rgba(243,230,220,1) 40%, rgba(243,230,220,0) 100%);
}
.service__item-info img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  bottom: 0;
  left: 0;
  transition: all .5s;
}
.service__item-info .btn-red_service {
  position: absolute;
  bottom: 20px;
  z-index: 4;
  margin: 0 auto;
  max-width: 157px;
  left: 0;
  right: 0;
  justify-content: center;
  border: 1px solid transparent;
}
.service__item-info:hover img {
  transform: scale(1.1);
} 
.service__item-info .btn-red_service:hover {
  border-color: #fff;
}
.service__item-text {
  position: relative;
  z-index: 4;
}
.service__item-text a {
  font-size: var(--font-size-24px);
  color: var(--text-color-cosmetology);
  text-transform: uppercase;
  font-weight: var(--font-demi);
  transition: all .3s;
}
.service__item-text p {
  font-size: var(--font-size-16px);
  margin-top: 20px;
}
.service__item-text a:hover {
  opacity: .6;
} 


.body-cosmetology .free-checkup {
  background: url(../img/bg-img-3.jpg) no-repeat center top / cover;
  padding: 124px 0 75px;
}
.body-cosmetology .free-checkup .title span {
  color: var(--text-color-cosmetology);
}
.checklist__box {
  display: grid;
  grid-template-columns: 600px;
  gap: 14px;
  margin-bottom: 60px;
}
.checklist__item {
  display: flex;
  align-items: center;
  gap: 18px;
}
.checklist{
  min-width: 46px;
  height: 46px;
  border-radius: 10px;
  background: #e2d2c6;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.checklist.gradient-icon::before {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
}

.checklist.gradient-icon::after {
  width: 32px;
  height: 32px;
  background: var(--color-main-cosmetology);
  border-radius: 8px;
  box-shadow:none;
}
.checklist img {
  width: 20px;
  /* color: var(--color-white); */
  height: auto;
  transition: all .5s;
}
.checklist__item p {
  font-size: var(--font-size-24px);
  font-weight: var(--font-demi);
}
.body-cosmetology .free-checkup .btn-red-cosmet {
  max-width: calc(295px - 36px);
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* ==================== top-procedures ==================== */
.top-procedures {
  background: var(--bg-color-cosmetology);
  padding: 40px 0;
}
.top-procedures__slider {
  position: relative;
}
.top-procedures__item {
  position: relative;
  max-width: calc(380px - 38px);
  height: calc(474px - 38px);
  padding: 16px;
  background: var(--color-white);
  border-radius: 15px;
  margin: 0 12.5px;
}
.top-procedures__item .hr_colorize {
  border: 1px solid var(--color-main-cosmetology);
  margin-bottom: 24px;
}
.top-procedures__item .item-content__bottom {
  bottom: 16px;
  width: calc(100% - 38px);
}
.top-procedures__item .btns-wrap {
  justify-content: space-between;
  margin-top: 23px;
}
.top-procedures__item .btn-red-cosmet {
  margin-left: 0;
  box-shadow: none;
}
.top-procedures__item .price {
  font-size: var(--font-size-24px);
  color: #be6465;
}
.top-procedures__item img {
  width: 100%;
  /* width: 100%; */
  height: 204px;
  object-fit: cover;
  margin-bottom: 10px;
}
.top-procedures__item .top-procedures__name {
  text-transform: uppercase;
  font-size: var(--font-size-24px);
  font-weight: var(--font-demi);
  color: var(--text-color-cosmetology);
}


/* ==================== why-stay  ==================== */
.why-stay {
  padding: 40px 0;
}
.why-stay .title span {
  color: var(--color-red-cosmetology);
}
.why-stay__wrap {
  display: flex;
  gap: 59px;
  margin-top: 50px;
}
.why-stay__img {
  max-width: 416px;
  width: 100%;
  height: 628;
  border-radius: 10px;
  object-fit: cover;
}
.why-stay__info-box {
  padding: 35px 0;
}
.why-stay__info-box p {
  font-size: var(--font-size-24px);
  font-weight: var(--font-medium);
  margin-bottom: 35px;
}
.features {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 525px));
  column-gap: 70px;
  row-gap: 90px;
}
.features-icon__item {
  display: flex;
  gap: 25px;
  align-items: center;
}
.features-icon__item p {
  margin-bottom: 0;
  font-size: var(--font-size-20px);
  font-weight: var(--font-medium);
}
.features-icon__item .info-icon__border {
  min-width: 101px;
  height: 101px;
  border-radius: 10px;
  background: #e2d2c6;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.features-icon__item .info-icon__border.gradient-icon::before {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
}
.features-icon__item .info-icon__border.gradient-icon::after {
  width: 81px;
  height: 81px;
  background: var(--color-main-cosmetology);
  border-radius: 8px;
  box-shadow:none;
}
.features-icon__item .info-icon__border img {
  width: 50px;
  height: auto;
  transition: all .5s;
}

/* ==================== lead-cosmetologist ==================== */
.lead-cosmetologist {
  padding: 40px 0;
  background: url(../img/bg-4.png) no-repeat center top / cover;
}
.lead-cosmetologist__wrap {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.lead-cosmetologist__img {
  max-width: 459px;
  width: 100%;
  height: 622px;
  border-radius: 10px;
  object-fit: cover;
}
.lead-cosmetologist__content-lead {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px 64px;
  width: calc(100% - 128px);
  background: var(--color-white);
  border-radius: 0 15px 15px 0;
  box-shadow: 0 10px 10px 0px rgba(210, 153, 142, .3);
}
.content-lead__about-lead {
}
.content-lead__about-lead blockquote {
  position: relative;
  font-size: var(--font-size-18px);
  font-style: italic;
  max-width: 290px;
  margin-top: 100px;
}
.content-lead__about-lead blockquote::before, 
.content-lead__about-lead  blockquote::after {
  position: absolute;
  content: '"';
  font-size: 60px;
  color: var(--color-main-cosmetology);
  font-weight: var(--font-demi);
  height: 20px;
}
.content-lead__about-lead blockquote::before {
  top: -50px;
  left: -5px;
}
.content-lead__about-lead blockquote::after {
  bottom: -20px;
  right: 0;
}
.about-lead__name {
  font-size: var(--font-size-30px);
  font-weight: var(--font-demi);
  color: var(--text-color-cosmetology);
  margin-bottom: 25px;
}
.about-lead__specialty {
  font-size: var(--font-size-18px);
  font-weight: var(--font-medium);
}
.about-lead__experience {
  margin-top: 110px;
  color: var(--color-main-cosmetology);
}
.about-lead__experience strong {
  font-size: var(--font-size-45px);
  font-weight: var(--font-demi);
  margin-bottom: 15px;
}
.about-lead__experience p {
  font-size: var(--font-size-18px);
  font-weight: var(--font-medium);
}
.content-lead__knowledge-lead {
}
.knowledge-lead__title {
  font-size: var(--font-size-18px);
  font-weight: var(--font-medium);
  line-height: 27px;
  margin-bottom: 20px;
}
.knowledge-lead__list {
}

.knowledge-lead__list li {
  position: relative;
  margin-bottom: 30px;
  padding-left: 21px;
}
.knowledge-lead__list li::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--text-color-cosmetology);
  top: 6px;
  left: 0;
}
.sertif-slider_cosmet {
  min-width: 0;
  position: relative;
  max-width: 475px;
  width: auto;
  margin-top: 40px;
}
.sertif-slider_cosmet .sertif-slide__item {
  margin: 0 auto;
  border: 1px solid var(--card-color-cosmetology)
}

/* our-works_cosmet */
.our-works_cosmet {
  background: #fefcfa;
}

.our-works_cosmet .our-works__service-name {
  box-shadow: 0 0px 10px 1px rgba(226, 210, 198, .3);
}
.our-works_cosmet .scroll-small__item,
.our-works_cosmet .scroll-big__item {
  box-shadow: 0 0px 10px 1px rgba(226, 210, 198, .3);
}
.our-works_cosmet .name-expert {
  color: currentColor;
}
.our-works_cosmet .our-works__desc {
  margin-bottom: 10px;
}
.our-works_cosmet .knowledge-lead__list {
  margin-bottom: 30px;
}
.our-works_cosmet .knowledge-lead__list li {
  margin-bottom: 10px;
}
.our-works_cosmet .btn-red-cosmet {
  max-width: calc(295px - 36px);
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}


.body-cosmetology .make-appointment {
  background: url(../img/bg-4.png) no-repeat center top / cover;
}
.make-appointment .btn-red-cosmet {
  margin-left: 0;
}

.input-custom_cosmet .item-form input {
  background-color: #fcfaf8;
  border: 1px solid var(--bg-color-cosmetology);
  color: var(--text-color-cosmetology);
}
.input-custom_cosmet .input-choice {
  color: var(--text-color-cosmetology);
  border: 1px solid var(--bg-color-cosmetology);
  background-color: #fcfaf8;
}
.input-custom_cosmet .arrow-down {
  color: var(--text-color-cosmetology);
}

/* our-reviews  */
.our-reviews {
  position: relative;
  padding: 40px 0;
  background: linear-gradient(45deg, rgba(236,219,202,1) 0%, rgba(228,200,184,1) 100%);
  min-height: calc(750px - 80px);
  overflow: hidden;
}
.our-reviews .subtitle {
  max-width: 450px
}
.our-reviews .img-absolute {
  bottom: 0;
  left: 0;
}
.our-reviews__wrap-scroll {
  float: right;
  position: relative;
  max-width: 880px;
}
.wrap-scroll__item {
  position: relative;
  background: url(../img/iPhone_12_Pro_Max.png) no-repeat center top / cover;
  background-size: auto 100%;
  min-width: 295px;
  max-width: 295px;
  height: 584px;
  /* overflow: hidden; */
  /* margin: 0 auto; */
}
.wrap-scroll__item img {
  position: relative;
  left: 19px;
  top: 41px;

  max-width: 246px;
  width: 100%;
  max-height: 436px;
  height: 100%;

  object-fit: cover;
  z-index: -1;
}