@media screen and ( max-width: 1600px ) {
  .call-btn a:not(.call-btn__icon) {
    display: none;
  }
  .box-container {
    padding: 0 20px;
    width: auto;
  }
  header .btns-wrap:first-of-type{
    display: none;
  }
  .reviews .img-absolute {
    max-width: 578px;
  }
}

@media screen and ( max-width: 1440px ) {
  .stay-with-us__wrap {
    flex-direction: column;
  }
  .stay-with-us__left {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
  }
  .stay-with-us__left .left-item {
    max-width: calc(420px - 64px);
    width: auto;
    height: auto;
  }
  .stay-with-us__right {
    justify-items: center;
    gap: 20px;
  }
  .what-treat__contetn .item-contetn__img {
    max-width: 100px;
    height: 100px;
  }
  .gallery__scroll-big {
    max-width: 431px;
  }
  .reviews .img-absolute {
    max-width: 478px;
  }
}

@media screen and ( max-width: 1200px ) {
  .work-time {
    display: none;
  }
  .first-section__grid-wrap {
    grid-template-columns: 1fr;
  }
  .first-section__grid-item:first-child {
    grid-column: initial;
    grid-row: initial;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
  }
  .what-treat__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-services .card-slider {
    height: auto;
    max-width: 100%;
    width: 100%;
    /* margin: 0 10px; */
  }
  .our-experts__grid {
    grid-template-columns: 1fr;
  }
  .grid__item blockquote {
    max-width: 100%;
    width: auto;
  }
  .gallery__scroll-small {
    display: none;
  }
  .reviews .img-absolute {
    display: none;
  }
  .our-insta__wrap {
    flex-direction: column;
  }
  .cosmet-our-service__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .cosmet-our-service__item {
    height: calc(324px - 20px);
  }
}

@media screen and ( max-width: 768px ) {
  .navigation-side {
    bottom: 0;
    width: calc(100% - 20px);
    height: 30px;
    padding: 10px;
    flex-direction: inherit;
  }
  .main-content {
    max-width: 100%;
    padding-bottom: 50px;
  }
  .navigation-side ul {
    display: flex;
  }
 
  .menu {
    position: fixed;
    top: initial;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    background: var(--color-blue);
    transform: translateY(110%);
    transition: all 1s;
    display: flex;
    align-items: center;
  }
  .menu.active {
    transform: translateY(0%);
  }
  .menu-nav {
    padding: 20px 20px 70px;
    overflow-y: scroll;
    max-height: 230px;
  }
  .wave {
    left: initial;
    width: 100%;
    height: 100px;
    top: -80px;
  }
  .wave_img {
    background: url(../img/svg/Vector2.svg) repeat-x;
    background-size: 700px;
    width: 4320px;
    height: 100%;
  }
  @keyframes waves {
    0% { margin-left: 0px;}
    100% {margin-left: -1440px;}
  }

  .address {
    display: none;
  }
  .box-container {
    padding: 0 10px;
    width: auto;
  }
  .first-section__grid-item {
    height: auto;
  }
  .what-treat__contetn .item-contetn__img {
    display: none;
  }
  .item-contetn__text-wrap {
    padding: 20px;
  }
  .free-checkup {
    padding: 30px 0;
  }
  .stay-with-us__left,
  .stay-with-us__right {
    grid-template-columns: 1fr;
    justify-items: initial;
    gap: 15px;
  }
  .stay-with-us__left .left-item {
    max-width: 100%;
    padding: 20px;
  }
  .right-item {
    max-width: 100%;
    width: auto;
  }
  .gradient-icon_border {
    min-width: 70px;
    height: 70px;
  }
  .gradient-icon_border.gradient-icon::after {
    width: 60px;
    height: 60px;
  }
  .grid__item:first-child {
    display: block;
    height: auto;
  }
  .grid__item:first-child .img-box {
    max-width: 100%;
    height: 200px;
  }
  .grid__item:first-child .img-box img {
    object-position: 0px -100px;
  }
  .our-works__content {
    flex-wrap: wrap;
  }
  .our-works__info {
    max-width: 100%;
  }
  .gallery {
    max-width: 100%;
    width: auto;
  }
  .gallery__scroll-big,
  .scroll-big__item {
    max-width: 100%;
  }
  .scroll-big__item {
    height: calc(200px - 20px);
  }
  .reviews__box-wrap {
    margin: 45px 50px;
  }
  .make-appointment {
    padding: 30px 0;
  }
  .make-appointment .img-absolute {
    display: none;
  }
  .footer-bottom__wrap {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #scroller {
    right: 10px;
    bottom: 60px;
    width: 40px;
    height: 40px;
  }
  .cosmet-our-service__item {
    height: auto;
  }
  .cosmet-our-service__wrap {
    grid-template-columns: 1fr;
  }
  .service__item-info .btn-red_cosmet {
    position: relative;
    bottom: 0;
    margin: 20px auto 0;
  }
}
@media screen and ( max-width: 640px ) {
  .make-appointment__box {
    max-width: 100%;
    width: auto;
    float: initial;
    padding: 20px;
  }
  .form-page__wrap_grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .form-page__wrap_grid .item-form,
  .form-page__wrap_grid .item-form.item-form__time,
  .form-page__wrap_grid .item-form.item-form__date,
  .make-appointment__box .checkbox-right,
  .make-appointment__box .btn-red  {
    grid-column: initial;
    width: 100%;
  }
  .make-appointment {
    height: auto;
  }
}
@media screen and ( max-width: 500px ) {
  header .btns-wrap a:not(.call-btn__icon) {
    display: none;
  }
  header {
    padding: 10px 0;
  }
  .form-page__wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .form-page__wrap .btn-red {
    margin-left: 0px;
  }
  .item-form {
    width: 100%;
  }
  .first-section__grid-wrap {
    gap: 15px;
  }
  .first-section__title,
  .first-section__subtitle {
    margin-bottom: 20px;
  }
  .item-contetn__text-wrap {
    padding: 20px;
  }
  .what-treat__grid {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .what-treat__item {
    height: auto;
  }
  .free-checkup__info {
    height: auto;
  }
  .free-checkup .title,
  .free-checkup .subtitle,
  .free-checkup__info {
    margin-bottom: 15px;
  }
  .top-services .card-slider img {
    display: none;
  }
  .top-services .item-content {
    padding: 20px;
  }
  .top-services .card-slider .item-content__bottom {
    position: initial;
  }
  .hr_colorize,
  .card-slider .item-content .price,
  .card-slider .item-content .btns-wrap {
    margin: 15px 0;
  }
  .top-services {
    padding: 30px 0;
  }
  .stay-with-us,
  .what-treat__wrap,
  .our-experts,
  .reviews,
  .our-insta {
    padding: 30px 0;
  }
  .stay-with-us__wrap {
    margin-top: 15px;
  }
  .first-section {
    padding-bottom: 30px;
  }
  .grid__item:first-child .img-box img {
    object-position: 0px -50px;
  }
  .expert-info {
    padding: 25px 20px;
  }
  .sertif-slider {
    max-width: 240px;
    margin: 50px auto 0;
  }
  .reviews__box-wrap {
    margin: 45px 20px;
    height: calc(390px - 90px);
  }
  .reviews__box {
    height: 390px;
  }
  .our-works__desc {
    margin-bottom: 30px;
  }
  .btn-red {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .our-insta__posts {
    justify-content: center;
  }
  .our-insta__posts img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
  }
  .footer-top {
    flex-direction: column;
  }
}
